header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 250;

  // @include debugFiletY(73px);
  .md\:fixed {
    pointer-events: none;
    a,
    button {
      pointer-events: all;
    }
  }

  nav {
    padding-top: 0.35em;
    &#nav-primary {
      padding-top: 0.45em;
    }
  }
  .social {
    font-size: 0.8em;
  }

  @media all and (max-width: $sm) {
    img {
      max-width: 106px;
    }
    .col-xs {
      flex-grow: 0;
    }
  }
}

// .downscroll {
//   header {
//     .inner {
//       @include slide(top, 0);
//     }
//   }
// }

// @media all and (max-width: $sm) {
//   header {
//   }
// }
