header {
  //position: sticky;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 250;
  //margin-bottom: $margeM;

  nav {
    padding-top: 0.35em;
  }

  @media all and (max-width: $sm) {
    img {
      max-width: 106px;
    }
    .col-xs {
      flex-grow: 0;
    }
  }
}

// .downscroll {
//   header {
//     .inner {
//       @include slide(top, 0);
//     }
//   }
// }

// @media all and (max-width: $sm) {
//   header {
//   }
// }
