header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 250;

  // @include debugFiletY(73px);
  // @include debugFiletX(calc(100vw - (320px + var(--space-md))));
  .md\:fixed {
    pointer-events: none;
    a,
    button {
      pointer-events: all;
    }
  }

  nav {
    padding-top: 0.35em;
    &#nav-primary {
      padding-top: 0.45em;
    }
  }
  .social {
    font-size: 0.8em;
  }
  @media all and (min-width: $sm) {
    .col-right {
      width: calc(320px + (var(--gutter) * 2));
      padding: 0 var(--gutter);
      nav.flex {
        padding: 0 var(--space-md);
        padding-top: 0.35em;
        justify-content: space-between;
      }
    }
  }
  @media all and (max-width: $sm) {
    img {
      max-width: 106px;
    }
    .col-xs {
      flex-grow: 0;
    }
  }
}

.template-projects,
.template-news {
  header {
    padding-bottom: 0;
    position: relative;
  }
  .header-filters {
    top: 1.4em;
    @media all and (max-width: $sm) {
      top: calc(var(--space-xs) * -1);
    }
  }
}

// .downscroll {
//   header {
//     .inner {
//       @include slide(top, 0);
//     }
//   }
// }

// @media all and (max-width: $sm) {
//   header {
//   }
// }
