html {
  -webkit-tap-highlight-color: transparent;
}
body {
  // @include debugFiletX(271px);
  // @include debugSquare(273px);
  scroll-behavior: smooth;
  // opacity: 0;
  &.is-transiting {
    main {
      opacity: 0;
    }
  }
}

main {
  // padding: var(--space-1);
  transition: opacity 0.4s ease-in-out;
  position: relative;
  z-index: 0;
}
.h-main {
  height: calc(100vh - var(--header-height));
}
.min-h-main {
  min-height: calc(100vh - var(--header-height));
}
.h-app {
  height: var(--app-height);
}

.bg-gray {
  background: var(--color-gray);
}
.mb-1e {
  margin-bottom: 1em;
}
.pt-header-height {
  padding-top: var(--header-height);
}
.top-header-height {
  top: var(--header-height);
}
@media all and (min-width: $md) {
}

.sm-only {
  display: none;
}
@media all and (max-width: $md) {
  body {
  }
  .sm-only {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
  .sm\:aspectio-ratio-1-1 {
    aspect-ratio: 1/1;
  }
}
