.template-home {
  video {
    height: 100vh !important;
    object-fit: cover;
  }

  header,
  .call-to-scroll {
    transition: opacity 0.2s ease;
    opacity: 0;
    &.is-visible {
      opacity: 1;
    }
  }
  header {
    pointer-events: none;
    a {
      pointer-events: all;
      // color: white;
      &:hover {
        color: var(--color-gray);
      }
    }
  }
  main {
    .w-screen {
      width: 100%;
    }
  }
}

@media all and (max-width: $sm) {
}
