.template-home {
  video {
    height: 100vh !important;
    object-fit: cover;
  }

  header,
  .call-to-scroll {
    transition: opacity 0.2s ease;
    opacity: 0;
    &.is-visible {
      opacity: 1;
    }
  }
  header {
    pointer-events: none;
    a {
      pointer-events: all;
      // color: white;
      &:hover {
        color: var(--color-white);
      }
    }
    nav:not(#nav-primary) {
      position: absolute;
      right: 0;
      top: 0;
      padding: var(--space-md);
      li {
        margin: 0;
      }
      .locale-switcher {
        display: none;
      }
      a.mx-sm {
        margin-right: 0;
      }
    }
  }
  main {
    .w-screen {
      width: 100%;
      .video-player,
      .h-full {
        height: 100%;
      }
      video {
        vertical-align: top;
      }
    }
    .slice-news-marquee {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 8px 0 8px !important;
    }
  }
  footer {
    display: none;
  }
}

@media all and (max-width: $sm) {
  .template-home {
    header {
      nav:not(#nav-primary) {
        padding: var(--space-xs);
      }
    }
    main {
      .slice-news-marquee {
        padding: 8px 0 6px !important;
      }
    }
  }
}
