.template-projects {
  header {
  }
  .page-template {
    .header-filters--fixed {
      top: 0.8em;
      &.slide-top {
        transform: translateY(-100%);
      }
      button {
        text-align: left;
      }
    }

    .table-view {
      padding-top: 1.4em;
    }
    @media all and (min-width: $sm) {
      .header-filters button.toggle {
        width: 114px;
        text-align: left;
      }
      .drop-down--content {
        padding-left: 114px;
      }
    }
  }
}
