.template-projects {
  header {
  }
  .page-template {
    // padding-top: 240px;
    // padding-top: var(--space-xxl);
    .header-filters--fixed {
      top: 0.8em;
      &.slide-top {
        transform: translateY(-100%);
      }
    }
    .header-filters {
      // padding-top: calc(var(--space-md) + 1.3em);
      // top: 1.4em;
    }
    .table-view {
      padding-top: 1.4em;
    }
  }
}
